<div class="container">
  <div class="col-6">
  </div>
  <div class="col-6">
    <h1>Welcome!</h1>
    <p> If you want to add a new course, click the <a href="/newcourse"><b> new course page </b></a> and enter your grades!
    If you want to look at your past courses, click the <a href="/courses"><b> courses page. </b></a></p>
  </div>
</div>
