<div class="container">
  <div class="col-6">
    <p>Enter a new test case:</p> 
    <form class="contact-form" action="/newcourse" method="post">
      <input class="button" type="text" name="name" value="" placeholder="Name" required><br><br>
      <input class="button" type="number" min = "0" max = "100" name="hw1" value="" placeholder="HW 1" required><br>
      <input class="button" type="number" min = "0" max = "100" name="hw2" value="" placeholder="HW 2" required><br>
      <input class="button" type="number" min = "0" max = "100" name="hw3" value="" placeholder="HW 3" required><br>
      <input class="button" type="number" min = "0" max = "100" name="test1" value="" placeholder="TEST 1" required><br>
      <input class="button" type="number" min = "0" max = "100" name="test2" value="" placeholder="TEST 2" required><br><br>
      <input class="button" type="submit" value="Submit"> 
    </form>
    </div>
</div>
